*{
    font-family: 'Noto Sans KR', sans-serif;
    list-style: none;
    text-decoration: none;
    border-collapse: collapse;
    margin:0px;
    padding:0px;
    color:#000; 
 }

 .intro_text{
    width:100%;
    margin-top: 80px;

    background: rgb(255, 255, 255);
    text-align: center;
    font-size: 18px;
}
.intro_text>h1,
.intro_text>h4{
    color:#000;
}
.section{
    text-align: center;
    top: 100px;

}
